/* Define Color variables */
:root {
  /* Color Main */
  --color-primary: #102c57;
  --color-surface: #dac0a3;
  --color-border: #dac0a3;
  --color-hover: #dac0a3;
  --color-pressed: #dac0a3;
  --color-focus: #dac0a3;

  /* Color Text */
  --color-neutral-100: #2e2e2e;
  --color-neutral-90: #4d4d4d;
  --color-neutral-80: #666666;
  --color-neutral-70: #757575;
  --color-neutral-60: #9e9e9e;
  --color-neutral-50: #c2c2c2;
  --color-neutral-40: #d0d0d0;
  --color-neutral-30: #ededed;
  --color-neutral-20: #fafafa;
  --color-neutral-10: #ffffff;

  /* Color Warning */
  --color-warning-primary: #f07e18;
  --color-warning-surface: #fcebdb;
  --color-warning-border: #f6bb86;
  --color-warning-hover: #a16631;
  --color-warning-pressed: #513319;
  --color-warning-focus: #fbddc3;

  /* Color Danger */
  --color-danger-primary: #d10d0d;
  --color-danger-surface: #ffdfdf;
  --color-danger-border: #f0aeae;
  --color-danger-hover: #ae0b0b;
  --color-danger-pressed: #680606;
  --color-danger-focus: #f6cfcf;

  /* Color Success */
  --color-success-primary: #129555;
  --color-success-surface: #dff6eb;
  --color-success-border: #b0dcc6;
  --color-success-hover: #0f7c47;
  --color-success-pressed: #094a2a;
  --color-success-focus: #d0eadd;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
.page-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Home section */
.home-section {
  background-image: url("../images/home.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Card styling */
.card {
  background-color: #313338;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  max-height: 400px;
  height: auto; /* Allow the height to adjust to content */
  text-align: center;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 20px auto; /* Adjust margin as needed */
}

.row {
  display: flex;
  justify-content: space-between;
}

/* Column styling */
.column {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.main-title {
  font-size: 24px;
  color: #f2f3f5;
  margin: 0px 0px 8px;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.sub-title {
  font-size: 14px;
  color: #b5bac1;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 1rem;
}

form {
  padding: 5px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

label {
  margin: 0px 0px 8px;
  font-size: 12px;
  color: #b5bac1;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 3px;
  background-color: #000000;
  color: #b5bac1;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.button {
  width: 100%;
  background-color: #5865f2;
  border-radius: 3px;
  padding: 10px;
}
.button:hover {
  background-color: #0056b3;
}
.forgot-password {
  color: #946ba4;
  font-size: 14px;
}
.need-account {
  color: #946ba4;
  font-size: 14px;
}
a {
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #00a8fc;
  text-decoration: none;
}
a:hover {
  color: #00a8fc;
  text-decoration: underline;
}
a:active {
  color: black;
}
